//baseWidth
$baseWidth: 1280px;
$mainFonts : 'Roboto', sans-serif;
$Mont-fonts: 'Montserrat', sans-serif;

//color common
$colors: (
    "dark": #191919,
    "dark-140": rgba(0,0,0,0.14),
    "dark-106": rgb(106, 106, 106),
    "pink": #b61984,
    "pink2": #aa017e,
    "white": #fff,
    "violet": #dcd1f0
);

//font sizre
$fsize-10: 1rem;
$fsize-12: 1.2rem;
$fsize-13: 1.3rem;
$fsize-14: 1.4rem;
$fsize-15: 1.5rem;
$fsize-16: 1.6rem;
$fsize-24: 2.4rem;
$fsize-38: 3.8rem;
$fsize-58: 5.8rem;

//font-weight:
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-bolder: 900;








