/*------------------------------------------------------------
Button
------------------------------------------------------------*/
.btn-primary-pink {
    padding: 14px 20px;
    border-radius:30px;
    width: max-content;
    min-width: 150px;

    box-shadow:  0 0 0 100px color("pink") inset;
    transition: 0.3s ease;
    text-align: center;
    a{
        font-weight: $fw-semibold;
        color: color("white");
        i{
            margin-right: 8px;
        }
    }
    &:hover {
        box-shadow:  0 0 0 1px color("pink") inset;
        a{
            color: color("pink");
        }
    }
}

.btn-primary-white{
    padding: 12px 23px;
    border-radius:30px;
    box-shadow:  0 0 0 30px color("white") inset;
    transition: 0.3s ease;
    a{
        color: color("dark");
        i{
            margin-right: 8px;
        }
    }
    &:hover {
        box-shadow:  0 0 0 1px color("white") inset;
        a{
            color: color("white");
        }
    }
}